{% extends "base_generic.html" %}

{% block content %}
  <h1 align="center">Exeter Keck Database Home</h1>
  <p align="center">Welcome to the Exeter Keck Database, a website developed by <em>MPhys Students 2019.</em></p>

  <h2>About</h2>
  <p>
      This website acts as a database for a survey of {{ num_objects }} stars, created by Sasha Hinkley (University of Exeter, Astrophysics Department)
      using the Keck Observatory. These stars were chosen due to their infrared excess at 1.5? micrometers, possibly indicating the presence of stellar companions,
      or disk structures.
  </p>
{% endblock %}